@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@using BGFolklore.Web.Common;

@model FilterViewModel
<section class="row">
    <div class="col-10 offset-1">
        <form method="post" asp-controller="Calendar" asp-action="UpcomingEvents">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <label class="form-check">
                    <input type="checkbox" asp-for="IsRecurring" class="form-check-input"
                           value="@(ViewData["Title"].Equals("Всички места") ? true : false)" />
                </label>
            </div>

            <div class="form-group row">
                <label asp-for="AreaId" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    <select asp-for="AreaId" class="custom-select"
                            asp-items="@(Towns.AllAreas).Select(t => new SelectListItem { Text = t.Name, Value = (t.Id).ToString() })">
                        <option value="">Изберете област</option>
                    </select>
                </div>
                <span asp-validation-for="AreaId" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="TownId" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    <select asp-for="TownId" class="custom-select"
                            asp-items="@(Towns.AllTowns).Select(t => new SelectListItem { Text = t.Name, Value = (t.Id).ToString() })">
                        <option value="">Изберете град</option>
                    </select>
                </div>
                <span asp-validation-for="TownId" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="PlaceType" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    <select asp-for="PlaceType" class="custom-select" asp-items="@Html.GetEnumSelectList<PlaceType>()">
                        <option value="">Изберете място</option>
                    </select>
                </div>
                <span asp-validation-for="PlaceType" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="BeforeDate" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    <input asp-for="BeforeDate" class="form-control upcoming-event" id="beforeDatetimePicker" />
                </div>
                <span asp-validation-for="BeforeDate" class="col-8 offset-4 text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AfterDate" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    <input asp-for="AfterDate" class="form-control upcoming-event" id="afterDatetimePicker" />
                </div>
                <span asp-validation-for="AfterDate" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="IntendedFor" class="col-4 col-form-label text-left"></label>
                <div class="col-8">
                    @foreach (var item in Model.IntendedFor)
                    {
                        <div class="form-check text-left">
                            <input type="checkbox" name="IntendedFor" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                            <label for="@item.Text" class="form-check-label">@item.Text</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="IntendedFor" class="col-8 offset-4 text-danger"></span>
            </div>

            @if (ViewData["Title"].Equals("Всички места"))
            {
                <div class="form-group row" id="occuringDays">
                    <label asp-for="OccuringDays" class="col-4 col-form-label text-left"></label>
                    <div class="col-8">
                        @foreach (var item in Model.OccuringDays)
                        {
                            <div class="form-check text-left">
                                <input type="checkbox" name="OccuringDays" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                                <label for="@item.Text" class="form-check-label">@item.Text</label>
                            </div>
                        }
                    </div>
                    <span asp-validation-for="OccuringDays" class="col-8 offset-4 text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label asp-for="DurationInDays" class="col-4 col-form-label text-left"></label>
                    <div class="col-8">
                        <input asp-for="DurationInDays" class="form-control" />
                    </div>
                    <span asp-validation-for="DurationInDays" class="col-8 offset-4 text-danger"></span>
                </div>
            }

            <div class="row">
                <div class="text-center m-auto">
                    <button type="submit" class="btn btn-danger bg-brown">Филтрирай</button>

                </div>
            </div>
        </form>
    </div>
</section>