@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@using BGFolklore.Web.Common;
@using BGFolklore.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> userManager;

@model AddEventViewModel;
@{
    ViewData["Title"] = "Add/Update Event";
    @if (Model.OwnerId != null)
    {
        ViewData["PageType"] = "Update";
    }
    else
    {
        ViewData["PageType"] = "Create";
    }
}

<h2 class="text-center">Добави ново събитие</h2>
<section class="row">
    <div class="col-10 offset-1">
        <form method="post" asp-controller="Calendar" asp-action="AddEvent">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row hidden">
                <label asp-for="OwnerId" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="OwnerId" class="form-control" value="@userManager.GetUserId(User)" />
                </div>
                <span asp-validation-for="OwnerId" class="col-8 offset-4 text-danger"></span>
            </div>

            @if (User.IsInRole(Constants.OrgRoleName))
            {
                <div class="form-group row">
                    <label asp-for="IsRecurring" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <label class="form-check switch">
                            <input type="checkbox" asp-for="IsRecurring" id="isRecurring" class="form-check-input" />
                            <span class="slider"></span>
                        </label>
                    </div>
                    <span asp-validation-for="IsRecurring" class="col-8 offset-4 text-danger"></span>
                </div>

            }
            else
            {
                if (Model.OwnerId == null)
                {
                    <div class="text-danger border border-danger mb-5 p-2">
                        Потребители, регистрирани като обикновен потребител могат да създават само ПРЕДСТОЯЩИ събития
                    </div>
                }
            }

            <div class="form-group row">
                <label asp-for="Name" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Phone" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Phone" class="form-control" />
                </div>
                <span asp-validation-for="Phone" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="TownId" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <select asp-for="TownId" class="custom-select" asp-items="@(Towns.AllTowns).Select(t => new SelectListItem { Text = t.Name, Value = (t.Id).ToString() })">
                        <option value="">Изберете град</option>
                    </select>
                </div>
                <span asp-validation-for="TownId" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="PlaceType" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <select asp-for="PlaceType" class="custom-select" asp-items="@Html.GetEnumSelectList<PlaceType>()">
                        <option value="">Изберете място</option>
                    </select>
                </div>
                <span asp-validation-for="PlaceType" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Address" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                </div>
                <span asp-validation-for="Address" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="upcoming-event">
                <div class="form-group row">
                    <label asp-for="DurationInDays" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="DurationInDays" class="form-control" />
                    </div>
                    <span asp-validation-for="DurationInDays" class="col-8 offset-4 text-danger"></span>
                </div>
            </div>
            <div class="recurring-event">
                <div class="form-group row" id="occuringDays">
                    <label asp-for="OccuringDays" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        @foreach (var item in Model.OccuringDays)
                        {
                            <div class="form-check">
                                <input type="checkbox" name="OccuringDays" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                                <label for="@item.Text" class="form-check-label">@item.Text</label>
                            </div>
                        }
                    </div>
                    <span asp-validation-for="OccuringDays" class="col-8 offset-4 text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="EventDateTime" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="EventDateTime" class="form-control" id="datetimePicker" value="@Model.EventDateTime" />
                </div>
                <span asp-validation-for="EventDateTime" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="IntendedFor" class="col-4 col-form-label"></label>
                <div class="col-8">
                    @foreach (var item in Model.IntendedFor)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="IntendedFor" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                            <label for="@item.Text" class="form-check-label">@item.Text</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="IntendedFor" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Description" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="row">
                <div class="col-1 offset-11">
                    <button type="submit" class="btn btn-danger bg-brown">
                        @if (ViewData["PageType"].Equals("Create"))
                        {
                            <diiv>Създай</diiv>
                        }
                        else if (ViewData["PageType"].Equals("Update"))
                        {
                            <div>Запиши промените</div>
                        }
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section CSS {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
    <link rel="stylesheet" href="~/css/calendar.css" />
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/bg.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datetimePicker").flatpickr({
                enableTime: true,
                dateFormat: "d/m/Y H:i",
                minDate: "today",
                allowInput: true,
                locale: "bg"
            });

            toggleEventFields($('#isRecurring')[0]);

            $('#isRecurring').change(function () {
                toggleEventFields(this);
            });

            //Disable attribute helps preventing rewritting the date when isRecurring = true
            //Also it helps preventing writting data, that must be cleared in the model.
            //  For example: DurationInDays must be 0 when isRecurring = true and OccuringDays must be empty when isRecurring = false.
            function toggleEventFields(e) {
                if (e.checked) {
                    $(".upcoming-event").hide();
                    $(".upcoming-event input").attr('disabled', true);

                    $(".recurring-event").show();
                    $(".recurring-event input").attr('disabled', false);
                } else {
                    $(".upcoming-event").show();
                    $(".upcoming-event input").attr('disabled', false);

                    $(".recurring-event").hide();
                    $(".recurring-event input").attr('disabled', true);
                }
            }
        });
    </script>
}