@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@model AddEventViewModel
@{
    ViewData["Title"] = "Add Event";
}

<button class="btn btn-danger bg-brown" id="recurringEventBtn">Създай повтарящо се събитие</button>
<button class="btn btn-danger bg-brown" id="upcomingEventBtn">Създай предстоящо събитие се събитие</button>
<h2>Добави ново събитие</h2>
<section class="row crud-section1">
    <div class="col-10 offset-1">
        <form method="post" asp-controller="Calendar" asp-action="AddEvent">
            <div class="form-group row">
                <label asp-for="IsRecurring" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <label class="form-check switch">
                        <input type="checkbox" name="IsRecurring" id="isRecurring" value="@Model.IsRecurring" class="form-check-input" />
                        <span class="slider"></span>
                    </label>
                </div>
                <span asp-validation-for="IsRecurring" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Name" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Phone" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Phone" class="form-control" />
                </div>
                <span asp-validation-for="Phone" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Town" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Town" class="form-control" />
                </div>
                <span asp-validation-for="Town" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="PlaceType" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <select asp-for="PlaceType" class="custom-select" asp-items="@Html.GetEnumSelectList<PlaceType>()">
                    </select>
                </div>
                <span asp-validation-for="PlaceType" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Address" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                </div>
                <span asp-validation-for="Address" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="DurationInDays" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="DurationInDays" class="form-control" />
                </div>
                <span asp-validation-for="DurationInDays" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row recurringEvent" id="occuringDays">
                <label asp-for="OccuringDays" class="col-4 col-form-label"></label>
                <div class="col-8">
                    @foreach (var item in Model.OccuringDays)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="OccuringDays" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                            <label for="@item.Text" class="form-check-label">@item.Text</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="OccuringDays" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="EventDateTime" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="EventDateTime" class="form-control" id="datetimePicker" />
                    <input asp-for="EventDateTime" class="form-control recurringEvent" id="timePicker" />
                </div>
                <span asp-validation-for="EventDateTime" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="IntendedFor" class="col-4 col-form-label"></label>
                <div class="col-8">
                    @foreach (var item in Model.IntendedFor)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="IntendedFor" id="@item.Text" value="@item.Value" checked="@item.Selected" class="form-check-input" />
                            <label for="@item.Text" class="form-check-label">@item.Text</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="IntendedFor" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Description" class="col-8 offset-4 text-danger"></span>
            </div>

            <div class="row">
                <div class="col-1 offset-11">
                    <button type="submit" class="btn btn-danger bg-brown">Създай</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section CSS {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/bg.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datetimePicker").flatpickr({
                enableTime: true,
                dateFormat: "d/m/Y H:i",
                minDate: "today",
                allowInput: true,
                locale: "bg"
            });
            $("#timePicker").flatpickr({
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                allowInput: true,
                locale: "bg"
            });

            $('#isRecurring').change(function () {
                if (this.checked) {
                    $("#datetimePicker").hide();
                    $(".recurringEvent").show();
                    $("#occuringDays")[0].style.display = "flex";
                } else {
                    $("#datetimePicker").show();
                    $(".recurringEvent").hide();
                }
            });
        });
    </script>
}