@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Web.Common
@model PaginatedList<RecurringEventViewModel>
@{
    ViewData["Title"] = "Calendar";
}
<header class="ScriptHeader calendar-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Къде да танцувам?</h1>
        <p>Какво по-хубаво от това всички места за танцуванe събрани на едно място?</p>
    </div>
    <div class="ScriptTop horizontal-top">
        <div class="ScriptTop-navbar horizontal-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="UpcomingEvents">Предстоящи събития</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="RecurringEvents">Всички места</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="AddEvent">Създай ново събитие</a>
                </li>
            </ul>
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>

<section class="callendar-section">
    @*<div>
            Търсачка
        </div>*@
    <table class="callendar-table">
        <thead>
            <tr>
                <th>Град</th>
                <th>Тип</th>
                <th>Име</th>
                <th>Къде</th>
                <th>Ден</th>
                <th>Час</th>
                <th>За кого е предназначено</th>
                @*<th>Коментар</th>*@
                <th>Рейтинг</th>
                <th class="feedback-col"></th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.PaginatedItems)
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex justify-content-center">
        <a asp-action="RecurringEvents"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-danger bg-brown op-80 @prevDisabled">
            Предишна страница
        </a>
        <a asp-action="RecurringEvents"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-danger bg-brown op-80 @nextDisabled">
            Следваща страница
        </a>
    </div>
</section>

<div id="modal-container">
    <partial name="_ModalBoxPartial" model="@(new FeedbackViewModel())" />
</div>
<div id="feedbacks-container">

</div>

@*<partial name="_ModalBoxPartial" model="@(new FeedbackViewModel())"/>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*<script>
        function eventRowOnClick(arg) {
            console.log(arg.name);

            // Get the modal
            var modal = $('#myModal')[0];

            modal.style.display = "block";

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>*@