@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Web.Common
@model FilterEventsViewModel
@{
    ViewData["Title"] = "Всички места";
    ViewData["Description"] = "Всички места, на които всяка седмица можете да се наслаждавате на неспирните бълграски народни танци и хора.";
}
<partial name="_EventsNavPartial" />

<section class="calendar-section">
    <div class="m-auto text-center m-3 form-container">
        <h6 id="filterBtn" class="mb-1">Филтриране</h6>
        <div class="hidden form-filter">
            <partial name="_FilterFormPartial" model="@Model.Filters" />
        </div>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                @if (User.Identity.IsAuthenticated)
                {
                    <th class="no-stilization"></th>
                }
                <th>Град</th>
                <th>Тип</th>
                <th>Име на събитието</th>
                <th>Дни</th>
                <th>Кога започва</th>
                <th>За кого е предназначено</th>
                <th>Рейтинг</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.RecurringPaginatedList.PaginatedItems)
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.RecurringPaginatedList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.RecurringPaginatedList.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex justify-content-center mt-3">
        <a asp-action="RecurringEvents"
           asp-route-pageNumber="@(Model.RecurringPaginatedList.PageIndex - 1)"
           class="btn bg-light rounded-circle @prevDisabled">
            <i class="fas fa-chevron-left"></i>
        </a>
        @{
            for (int i = 1; i <= Model.RecurringPaginatedList.TotalPages; i++)
            {
                if (i == Model.RecurringPaginatedList.PageIndex)
                {
                    <a asp-action="RecurringEvents"
                       asp-route-pageNumber="@i"
                       class="page-number active-page">
                        @i
                    </a>
                }
                else
                {
                    <a asp-action="RecurringEvents"
                       asp-route-pageNumber="@i"
                       class="page-number">
                        @i
                    </a>
                }
            }
        }
        <a asp-action="RecurringEvents"
           asp-route-pageNumber="@(Model.RecurringPaginatedList.PageIndex + 1)"
           class="btn bg-light rounded-circle @nextDisabled">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

</section>

<div id="modal-container">
    <partial name="_MoreInfoBoxPartial" model="@(new FeedbackViewModel())" />
</div>

@section CSS {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
    <link rel="stylesheet" href="~/css/calendar.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/bg.js"></script>

    <script type="text/javascript">
        $(".stop-parent-onclick")
            .click(function (event) {
                event.stopPropagation();
            })
            .attr('title', '');
        $(".rating-container").show();

        $("#filterBtn").click(function () {
            $(".form-filter").toggle();
        });
        $("#beforeDatetimePicker").flatpickr({
            enableTime: true,
            dateFormat: "d/m/Y H:i",
            minDate: "today",
            allowInput: true,
            locale: "bg"
        });
        $("#afterDatetimePicker").flatpickr({
            enableTime: true,
            dateFormat: "d/m/Y H:i",
            minDate: "today",
            allowInput: true,
            locale: "bg"
        });
    </script>
}
