@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Web.Common
@model FilterEventsViewModel
@{
    ViewData["Title"] = "Предстоящи събития";
    ViewData["Description"] = "Предстоящите събития, на които можете да се насладите на неспирните български народни танци и хора.";
}
<partial name="_EventsNavPartial" />

<section class="calendar-section">
    <div>
        <h6>Филтрирай по:</h6>
        <form method="post" asp-action="FilterUpcomingEvents">

        </form>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                <th class="no-stilization"></th>
                <th>Град</th>
                <th>Тип</th>
                <th>Събитие</th>
                <th>Дата</th>
                <th>Час</th>
                <th>За кого е предназначено</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.UpcomingPaginatedList.PaginatedItems)
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.UpcomingPaginatedList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.UpcomingPaginatedList.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex justify-content-center mt-3">
        <a asp-action="UpcomingEvents"
           asp-route-pageNumber="@(Model.UpcomingPaginatedList.PageIndex - 1)"
           class="btn bg-light rounded-circle @prevDisabled">
            <i class="fas fa-chevron-left"></i>
        </a>
        @{
            for (int i = 1; i <= Model.UpcomingPaginatedList.TotalPages; i++)
            {
                if (i == Model.UpcomingPaginatedList.PageIndex)
                {
                    <a asp-action="UpcomingEvents"
                       asp-route-pageNumber="@i"
                       class="page-number active-page">
                        @i
                    </a>
                }
                else
                {
                    <a asp-action="UpcomingEvents"
                       asp-route-pageNumber="@i"
                       class="page-number">
                        @i
                    </a>
                }
            }
        }
        <a asp-action="UpcomingEvents"
           asp-route-pageNumber="@(Model.UpcomingPaginatedList.PageIndex + 1)"
           class="btn bg-light rounded-circle @nextDisabled">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

</section>

<div id="modal-container">
    <partial name="_MoreInfoBoxPartial" model="@(new FeedbackViewModel())" />
</div>

@section CSS {
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".stop-parent-onclick")
            .click(function (event) {
                event.stopPropagation();
            })
            .attr('title', '');
        $(".rating-container").hide();
    </script>
}
