@using BGFolklore.Web.Common;

@model ManageEventViewModel
@{
    ViewData["Title"] = "Събитие";
}

<section id="table-container" class="w-75">
    <h2 class="text-center">@Model.Name</h2>
    <h4 class="text-center mb-5">Град @Towns.AllTowns.OrderBy(t => t.Id).ToArray()[Model.TownId - 1].Name</h4>
    <table class="w-50 calendar-table">
        <tr>
            <th class="vertical-heading">Собственик</th>
            <td>@Model.OwnerUserName</td>
        </tr>
        <tr>
            <th class="vertical-heading">Име на събитието</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th class="vertical-heading">Последна промяна</th>
            <td>@(Model.UpdateDateTime == null ? "Няма" : Model.UpdateDateTime)</td>
        </tr>
        <tr>
            <th class="vertical-heading">Телефон за контакти</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th class="vertical-heading">Адрес</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th class="vertical-heading">Описание на събитието</th>
            <td> @Model.Description</td>
        </tr>
        <tr>
            <th class="vertical-heading">Брой активни сигнали</th>
            <td>
                <div class="d-flex justify-content-between">
                    @Model.Feedbacks.Count
                    <a id="showFeeds" href="#events-table"
                       class="btn btn-danger op-80 bg-brown ml-4 @(Model.Feedbacks.Count == 0 ? "disabled" : "")">
                        Покажи
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th class="vertical-heading">Управление</th>
            <td>
                <div class="d-flex justify-content-around">
                    <a asp-action="ReportEvent" asp-route-eventId="@Model.Id"
                       class="btn bg-light rounded-circle"
                       title="Редактиране на информацията за събитието.">
                        Докладвай
                        <i class="fas fa-bug font"></i>
                    </a>
                    @if (User.IsInRole(Constants.AdminRoleName))
                    {
                        <a asp-action="DeleteEvent" asp-route-eventId="@Model.Id"
                           class="btn bg-light rounded-circle"
                           title="Изтриване на събитието.">
                            Изтрий
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    }
                </div>
            </td>

        </tr>
    </table>
    @*<div id="events-table" class="hidden mt-3">
            <partial name="_EventsPartial" model="@Model.ActivePublicEvents" />
        </div>*@
    <div id="feedbacks-table" class="hidden mt-3">
        <partial name="_FeedbacksPartial" model="@Model.Feedbacks" />
    </div>
</section>

@section CSS {
    <link rel="stylesheet" href="~/css/admin-page.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@section Scripts {
    <script type="text/javascript">
        //$("#showEvents").click(function () {
        //    let eventsTable = $("#events-table");
        //    eventsTable.removeClass("hidden");
        //    let feedsTable = $("#feedbacks-table");
        //    feedsTable.addClass("hidden");
        //});
        $("#showFeeds").click(function () {
            let feedsTable = $("#feedbacks-table");
            feedsTable.removeClass("hidden");
        });
    </script>
}