@model IList<ManageEventViewModel>
@{
    ViewData["Title"] = "Управление на събитията";
}

<header class="page-header admin-header m-0">
    <div class="rt-container op-80 bg-brown">
        <h2>@ViewData["Title"]</h2>
        <p>@*Там, където музиката се включва, а заобикалящият ни свят се изключва!*@</p>
    </div>
    <div class="nav-container horizontal-top">
        <div class="page-navbar horizontal-navbar">
            <ul>
                <li class="w-auto">
                    <a class="area-link op-80 bg-brown" href="#" id="allEvents">Всички</a>
                </li>
                <li class="w-auto">
                    <a class="area-link op-80 bg-brown" href="#" id="withFeeds">Със сигнали</a>
                </li>
                <li class="w-auto">
                    <a class="area-link op-80 bg-brown" href="#" id="withoutFeeds">Без сигнали</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="p-0" id="table-container">
    <table class="calendar-table">
        <thead>
            <tr class="text-center">
                <th class="table-header" title="Подреди по потребителско име">
                    <a asp-action="ShowAllEvents"
                       asp-route-sortBy="@ViewData["UserName"]">
                        Собственик
                    </a>
                </th>
                <th class="table-header number-cell" title="Подреди по брой събития">
                    <a asp-action="ShowAllEvents"
                       asp-route-sortBy="@ViewData["EventName"]">
                        Име на събитието
                    </a>
                </th>
                <th>Последна промяна</th>
                <th>Адрес</th>
                <th>Описание</th>
                <th class="table-header number-cell" title="Подреди по брой събития">
                    <a asp-action="ShowAllEvents"
                       asp-route-sortBy="@ViewData["CountReports"]">
                        Сигнали
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayForModel();
        </tbody>
    </table>
</section>

@section CSS {
    <link rel="stylesheet" href="~/css/admin-page.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@section Scripts {
    <script type="text/javascript">
        $(".area-link").click(function () {
            let rows = document.getElementsByClassName('info-row');
            for (let r of rows) {
                if (this.id.includes("allEvents") || r.classList.contains(this.id)) {
                    r.classList.remove("hidden");
                } else {
                    r.classList.add("hidden");
                }
            }
        });
    </script>
} events</div>