@*@model Area*@
@{
}
@*<div class="col-rt-2 area-information @Model.Type" style="text-align:center;">
    <h2>
        @Model.Name
    </h2>
    @if (@Context.Request.Path.ToString().Contains("Images"))
    {
        <p>@Model.Description_Images</p>
    }
    else if (@Context.Request.Path.ToString().Contains("Videos"))
    {
        <p>@Model.Description_Videos</p>
    }
</div>

<hr />*@
<div class="gallery">
    @if (@Context.Request.Path.ToString().Contains("Images"))
    {
        <div class="images" style="display:flex; flex-wrap:wrap">
            @foreach (var img in Model.Images)
            {
                <div class="image-card" style="text-align:center; width:360px; padding:30px">
                    <a href="@Model.ImagesPath/@img.FileName" data-fancybox="images" data-caption="@img.Title">
                        <img class="gallery-item" src="@Model.ImagesPath/@img.FileName" style="height:250px">
                    </a>
                    <h4>@img.Title</h4>
                    <p>@img.Description</p>
                </div>

            }
        </div>
    }
    else if (@Context.Request.Path.ToString().Contains("Videos"))
    {
        <div class="videos" style="margin:0px 5px; display:flex; flex-wrap:wrap; width:auto; ">

            <div class="video-tumbnails">
                @foreach (var video in Model.Videos)
                {
                    <a class="fancybox fancybox.iframe card" id="@video.Id_YouTube" href="#video-player">
                        <div class="video-card" style="display:flex; margin:5px">
                            <img src="https://img.youtube.com/vi/@video.Id_YouTube/1.jpg" style="height:120px; max-width:120px" />
                            <div class="info-card" style="padding:10px">
                                <h4 style="font-size:17px">@video.Title</h4>
                                <p style="font-size:12px">@video.Description</p>
                            </div>
                        </div>
                    </a>

                }
            </div>
        </div>
    }

</div>

@* For the popup image when you click on one *@
<script>
    $(document).ready(
        function () {
            $('[data-fancybox="images"]').fancybox({
                helpers: {
                    title: {
                        type: 'outside',
                        position: 'top'
                    }
                },
                arrows: false,
                protect: true,
                buttons: [
                    'download',
                    'zoom',
                    'close'
                ]
            });
            $('[data-fancybox="videos"]').fancybox({
                //yourube: {
                //    controls: 0,
                //    showinfo: 0
                //}
                toolbar: false,
                smallBtn: true,
                iframe: {
                    preload: true,
                }
            });
        }
    );
</script>

