@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@using BGFolklore.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> userManager

@model FeedbackViewModel

<tr class="@(Model.StatusId == 1 ? "new" : "old")Feedback">
    <td class="table-col-w-15">@Model.CreateDateTime</td>
    <td class="text-break">@Model.Description</td>
    @if (userManager.GetUserId(User).Equals(ViewData["EventOwner"]))
    {
        <td class="table-col-w-10">
            <div class="d-flex justify-content-end">
                @if (Model.StatusId == (int)StatusName.New)
                {
                    <a asp-action="ReadFeedback" asp-route-feedId="@Model.Id" asp-route-eventId="@Model.EventId"
                       class="btn bg-light rounded-circle btn-signals"
                       title="Отбележи като прочетено.">
                        <i class="fas fa-check"></i>
                    </a>
                }
                <a asp-action="DeleteFeedback" asp-route-feedId="@Model.Id" asp-route-eventId="@Model.EventId"
                   class="btn bg-light rounded-circle btn-signals"
                   title="Изтриване на сигнал.">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </td>
    }
</tr>


@section CSS {
    <link rel="stylesheet" href="~/css/calendar.css" />
}