@using BGFolklore.Models.Gallery.ViewModels
@using BGFolklore.Common
@model ImageViewModel

<div class="image-card">
    <a href="@Model.Path" data-fancybox="@((AreasType)ViewData["data"])" data-caption="@Model.Title">
        <img class="gallery-item" src="@Model.Path" />
    </a>
    <div class="info-card">
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
    </div>
</div>



