@using BGFolklore.Models.Gallery.ViewModels
@model Image

    <div class="image-card" style="text-align:center; width:360px; padding:30px">
        <a href="@Model.Path" data-fancybox="shopska" data-caption="@Model.Title">
            <img class="gallery-item" src="@Model.Path" style="height:250px"/>
        </a>
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
    </div>



