@using BGFolklore.Models.Gallery.ViewModels
@using BGFolklore.Common
@model ImageViewModel

@{ 
    string costumeType = (Model.CostumeType == 1 ? "female" : Model.CostumeType==2 ? "male" : "female male");
}

<div class="image-card @costumeType">
    <a href="@Model.ImagesPath" data-fancybox="@Model.AreaName" data-caption="@Model.Title">
        <img class="gallery-item" src="@Model.ImagesPath" />
    </a>
    <div class="info-card">
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
    </div>
</div>