@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@using BGFolklore.Web.Controllers
@using BGFolklore.Web.Common;
@using Microsoft.Extensions.Localization;
@using BGFolklore.Data.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Text.Json;

@inject UserManager<User> userManager

@inject IStringLocalizer<CalendarController> localizer

@model RecurringEventViewModel
@{
    var modelJson = Json.Serialize(Model).ToString();
    var userIdJson = Json.Serialize(userManager.GetUserId(User)).ToString();
}
<tr class="event-row can-hover" title="Виж допълнителна информация за това събитие" onclick="eventRowOnClick(@modelJson, @userIdJson)">
    <td>@Towns.AllTowns.OrderBy(t => t.Id).ToArray()[Model.TownId - 1].Name</td>
    <td>@localizer[$"PlaceType{Model.PlaceType}"]</td>
    <td>@Model.Name</td>
    <td>
        @foreach (int item in Enum.GetValues(typeof(DaysOfWeek)))
        {
            @if ((Model.OccuringDays & item) == item)
            {
                <div>
                    @localizer[$"Day{(((DaysOfWeek)item).ToString())}"]
                </div>
            }
        }
    </td>
    <td>@Model.EventDateTime.TimeOfDay</td>
    <td>
        @* В мапер *@
        @foreach (int item in Enum.GetValues(typeof(AttendeeType)))
        {
            @if ((Model.IntendedFor & item) == item)
            {
                <div>
                    @localizer[$"AttendeeType{(((AttendeeType)item).ToString())}"]
                </div>
            }
        }
    </td>
    <td>@Model.Rating</td>
    <td class="d-table-cell no-stilization">
        <div class="d-flex justify-content-center align-items-center">
            @if (Model.Feedbacks.Count != 0)
            {
                <button type="button" onclick="location.href='@Url.Action("EventFeedbacksPartial", "Calendar", Model.Id)'"
                        class="btn bg-light rounded-circle btn-signals"
                        title="Има @Model.Feedbacks.Count @((Model.Feedbacks.Count == 1) ? "подаден сигнал" : "подадени сигнала") за грешна информация">
                    <i class="fas fa-exclamation pulseIcon"></i>
                </button>
            }
            else
            {
                <div class="btn bg-light rounded-circle" title="Няма сигнали за грешна информация!">
                    <i class="fas fa-check text-info"></i>
                </div>
            }
            @if (Model.OwnerId.Equals(userManager.GetUserId(User)))
            {
                <div class="d-flex flex-column justify-content-center">
                    <button type="button" onclick="location.href='@Url.Action("EditEvent", "Calendar", Model)'"
                            class="btn btn-danger bg-brown op-80 btn-edit-event"
                            title="Редактиране на информацията за събитието.">
                        <i class="fas fa-edit font"></i>
                    </button>
                    <button type="button" onclick="location.href='@Url.Action("DeleteEvent", "Calendar", Model)'"
                            class="btn btn-danger bg-brown op-80 btn-delete-event"
                            title="Изтриване на събитието.">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            }
        </div>
    </td>
</tr>
