@using BGFolklore.Models.Calendar.ViewModels
@using BGFolklore.Common.Nomenclatures
@using BGFolklore.Web.Controllers
@using BGFolklore.Web.Common;
@using System.Linq
@using Microsoft.Extensions.Localization;
@using BGFolklore.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> userManager

@inject IStringLocalizer<CalendarController> localizer

@model UpcomingEventViewModel

@{
    var modelJson = Json.Serialize(Model).ToString();
    var userIdJson = Json.Serialize(userManager.GetUserId(User)).ToString();
    var hasNewFeeds = false;
    foreach (var feed in Model.Feedbacks)
    {
        if (feed.StatusId == (int)StatusName.New)
        {
            hasNewFeeds = true;
            break;
        }
    }
}

<tr class="event-row" title="Виж допълнителна информация за това събитие" onclick="eventRowOnClick(@modelJson, @userIdJson)">
    <td class="no-stilization stop-parent-onclick pr-1">
        @if (Model.Feedbacks.Count != 0)
        {
            <button type="button" onclick="location.href='@Url.Action("EventFeedbacksPartial", "Calendar", Model)'"
                    class="btn bg-light rounded-circle btn-signals @(hasNewFeeds ? "text-danger" : "")"
                    title="Има @Model.Feedbacks.Count @((Model.Feedbacks.Count == 1) ? "подаден сигнал" : "подадени сигнала") за грешна информация">
                <i class="fas fa-exclamation pulseIcon"></i>
            </button>

        }
    </td>
    <td>@Towns.AllTowns.OrderBy(t => t.Id).ToArray()[Model.TownId - 1].Name</td>
    <td>@localizer[$"PlaceType{Model.PlaceType}"]</td>
    <td>@Model.Name</td>
    <td>@Model.EventDateTime.Date.ToShortDateString()</td>
    <td>@Model.EventDateTime.TimeOfDay</td>
    <td>
        @foreach (int item in Enum.GetValues(typeof(AttendeeType)))
        {
            @if ((Model.IntendedFor & item) == item)
            {
                <div>
                    @localizer[$"AttendeeType{(((AttendeeType)item).ToString())}"]
                </div>
            }
        }
    </td>
    <td class="stop-parent-onclick table-col-w-10">
        @if (Model.OwnerId.Equals(userManager.GetUserId(User)))
        {
            <div class="d-flex justify-content-start">
                <button type="button" onclick="location.href='@Url.Action("EditEvent", "Calendar", Model)'"
                        class="btn bg-light rounded-circle btn-signals"
                        title="Редактиране на информацията за събитието.">
                    <i class="fas fa-edit font"></i>
                </button>
                <button type="button" onclick="location.href='@Url.Action("DeleteEvent", "Calendar", Model)'"
                        class="btn bg-light rounded-circle btn-signals"
                        title="Изтриване на събитието.">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        }
    </td>
</tr>