@model ManageEventViewModel
@{
    var hasFeeds = Model.Feedbacks.Count == 0 ? "withoutFeeds" : "withFeeds";
}
<tr class="info-row @hasFeeds">
    <td>@Model.OwnerUserName</td>
    <td class="text-break min-w-90">
        @if (Model.Name.Length > 80)
        {
            <div>@(Model.Name.Substring(0, 80)+"...")</div>
        }
        else
        {
            <div>@Model.Name </div>
        }
    </td>
    <td>@(Model.UpdateDateTime != null ? Model.UpdateDateTime : "Няма")</td>
    <td class="text-break min-w-90">
        @if (Model.Address.Length > 80)
        {
            <div>@(Model.Address.Substring(0, 80)+"...")</div>
        }
        else
        {
            <div>@Model.Address </div>
        }
    </td>
    <td class="text-break min-w-90">
        @if (Model.Description.Length > 80)
        {
            <div>@(Model.Description.Substring(0, 80)+"...")</div>
        }
        else
        {
            <div>@Model.Description </div>
        }
    </td>
    <td>
        <div class="d-flex justify-content-between align-items-center">
            @Model.Feedbacks.Count
        </div>
    </td>
    <td>
        <a class="btn bg-light rounded-circle" title="Виж повече"
           asp-action="ManageEvents" asp-route-eventId="@Model.Id">
            <i class="fas fa-eye"></i>
        </a>
    </td>

</tr>